.blueRadient {
  background: var(--gradient-blue-right) !important;
  padding: 0.5em 2em !important;
  border: none !important;
  border-radius: 100px !important;
  color: var(--white) !important;
  font-weight: 100 !important;
  font-size: 1rem !important;
  text-transform: none !important;
  cursor: pointer !important;
}
.blueRadient:hover,
.blueRadient:active {
  background: var(--gradient-blue-ghost-right) !important;
}

.white {
  background: white !important;
  padding: 0.5em 2em !important;
  border: none !important;
  border-radius: 100px !important;
  color: var(--blue-dark) !important;
  font-weight: 100 !important;
  font-size: 1rem !important;
  text-transform: none !important;
  cursor: pointer !important;
}
.white:hover,
.white:active {
  background: var(--gradient-blue-ghost-right) !important;
  color: var(--white) !important;
}
